/*
=============== 
Variables
===============
*/

:root {
	--clr-white: #fff;
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Luxurious Roman', cursive;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-primary);
	background: var(--clr-white);
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}
h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}
h1{
	font-size: 3.5rem;
}
h2 {
	font-size: 2.75rem;
}
h3{
	font-size: 1.75rem;
}
h4{
	font-size: 0.9rem;
}
p{
	color: rgba(0, 0, 0, 0.9);
}

 /*  global classes */

.btn {
	padding: 0.75rem 2.5rem;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: var(--radius);
	margin-bottom: 2rem;
	background: linear-gradient(45deg, rgb(248, 104, 88), rgb(248, 104, 88));
	color: var(--clr-white);
	font-size: 0.9rem;
	text-transform: capitalize;
	font-weight: normal;
}
.section-center{
	width: 78vw;
	margin: 0 auto;
	max-width: 1170px;
	min-height: auto;
}
.section-container{
	display: flex;
}
.section-heading{
	margin-bottom: 1rem;
	font-family: var(--ff-secondary);
}
.section-heading span{
	color: rgb(248, 104, 88);
}

/* banner section */
.section-banner-container{
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.banner-left{
	flex: 1;
	padding-right: 3rem;
	padding-top: 5rem;
}
.banner-left p{
	width: 80%;
	margin-bottom: 1rem;
}
.banner-heading{
	margin-bottom: 2rem;
	padding-left: 1rem;
	border-left: 5px solid rgb(248, 104, 88);
	line-height: 1;
	font-family: var(--ff-secondary);
}
.banner-heading-top{
	margin-bottom: 1rem;
}
.banner-heading-bottom{
	color: rgb(248, 104, 88);
}
.banner-right{
	flex: .85;
}
.img-profile{
	width: 85%;
}
/* end of banner section */

/* My Mission Section */
.mymission-heading{
	margin-bottom: 2.5rem;
	text-align: center;
	font-family: var(--ff-secondary);
}
.mymission-heading span{
	color: rgb(248, 104, 88);
}
.mymission-card{
	border-radius: 30px;
	padding: 2rem;
}
.mymission-card img{
	width: 50%;
	margin-bottom: 1rem;
}
.mymission-card h3{
	margin-bottom: 1rem;
}
.mymission-card-1{
	flex: 1;
	margin-right: 1rem;
	background-color: rgb(200, 241, 241);
}
.mymission-card-1 img{
	margin-bottom: 1.5rem;
}
.mymission-card-1 h2{
	margin-bottom: 1rem;
}
.mymission-card-2{
	flex: 1;
	margin: 0 1rem;
	background-color: rgb(241, 207, 203);
}
.mymission-card-3{
	flex: 1;
	margin-left: 1rem;
	background-color: rgb(243, 225, 209);
}
/* End of My Mission Section */

/* Section Limit */
.section-limit{
	background-image: url("./images/shapes/shape-1.png");
  background-repeat: no-repeat;
	background-position: 5% 50%;
	background-size: 15%;
	margin-top: 5rem;
}
.limit-left{
	flex: 0.6;
	margin-right: 2.25rem;
}
.limit-right{
	flex: 1;
	margin-left: 2.25rem;
	margin-top: 2.5rem;
}
.limit-right p{
	margin-bottom: 1rem;
	line-height: 1.75;
}
/* End of Section Limit */

/* Section Global */
.section-global{
	background-image: url("./images/shapes/shape-1.png");
  background-repeat: no-repeat;
	background-position: 95% 100%;
	background-size: 15%;
	margin-top: 5rem;
}
.custom-height-global{
	min-height: 70vh;
}
.global-left{
	flex: 1;
	margin-right: 2.75rem;
	margin-top: 2.5rem;
}
.global-right{
	flex: 0.625;
	margin-left: 2.75rem;
}
.global-left p{
	margin-bottom: 1rem;
	line-height: 1.75;
}
/* End of Section Global */

/* Section Timeline */
.section-timeline{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.mytimeline-heading{
	margin-bottom: 2.5rem;
	text-align: center;
	font-family: var(--ff-secondary);
}
.mytimeline-heading span{
	color: rgb(248, 104, 88);
}
.card-timeline{
	width: 60%;
	margin: 0 auto;
}
.card-timeline-1{
	border-right: 2px dashed rgb(248, 104, 88);
	border-bottom: 2px dashed rgb(248, 104, 88);
	border-bottom-right-radius: 20px;
	padding: 1rem 0;
	position: relative;
}
.card-timeline-2{
	border-left: 2px dashed rgb(248, 104, 88);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-left: 12rem;
	padding: 1rem 0;
	padding-left: 1.3rem;
	position: relative;
}
.card-timeline-3{
	border-top: 2px dashed rgb(248, 104, 88);
	border-right: 2px dashed rgb(248, 104, 88);
	border-top-right-radius: 20px;
	margin-left: 13.5rem;
	padding: 1rem 0;
	position: relative;
}
.timeline-number-1{
	position: absolute;
	top: 50%;
	right: -13px;
	transform: translateY(-50%);
	height: 24px;
	width: 24px;
	background-color: rgb(248, 104, 88);
	border-radius: 50%;
	color: white;
	text-align: center;
	padding-top: 2px;
}
.timeline-number-2{
	position: absolute;
	top: 50%;
	left: -13px;
	transform: translateY(-50%);
	height: 24px;
	width: 24px;
	background-color: rgb(248, 104, 88);
	border-radius: 50%;
	color: white;
	text-align: center;
	padding-top: 2px;
}
.timeline-number-3{
	position: absolute;
	top: 50%;
	right: -13px;
	transform: translateY(-50%);
	height: 24px;
	width: 24px;
	background-color: rgb(248, 104, 88);
	border-radius: 50%;
	color: white;
	text-align: center;
	padding-top: 2px;
}
.timeline-year{
	margin-bottom: 1rem;
}
.timeline-txt{
	margin-bottom: 1rem;
}
/* End of Section Timeline */

/* footer section */
.section-footer{
	background-color: black;
	color: white;
	padding: 3rem 0;
	text-align: center;
}
.section-footer span{
	color: rgb(248, 104, 88);
}
.section-footer h3{
	margin-bottom: 1rem;
	font-family: var(--ff-secondary);
}
.section-footer h4{
	font-weight: normal;
}
/* end of footer section */