/*
=============== 
Variables
===============
*/

:root {
	--clr-white: #fff;
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Luxurious Roman', cursive;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
 }
 
 /*
 =============== 
 Global Styles
 ===============
 */
 
 *,
 ::after,
 ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 body {
	font-family: var(--ff-primary);
	background: var(--clr-white);
	line-height: 1.5;
 }
 ul {
	list-style-type: none;
 }
 a {
	text-decoration: none;
 }
 img {
	width: 100%;
	display: block;
 }
 h1,
 h2,
 h3,
 h4 {
	text-transform: capitalize;
 }
 h1{
	font-size: 3.5rem;
 }
 h2 {
	font-size: 2.75rem;
 }
 h3{
	font-size: 1.75rem;
 }
 p{
	color: rgba(0, 0, 0, 0.9);
 }
 
 /*  global classes */
 
 .btn {
	padding: 0.75rem 2.5rem;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: var(--radius);
	margin-bottom: 2rem;
	background: linear-gradient(45deg, rgb(248, 104, 88), rgb(248, 104, 88));
	color: var(--clr-white);
	font-size: 0.9rem;
	text-transform: capitalize;
	font-weight: normal;
 }
 .section-center{
	width: 78vw;
	margin: 0 auto;
	max-width: 1170px;
	min-height: 100vh;
 }
 .section-container{
	display: flex;
 }
 .custom-height{
	min-height: auto;
 }
 
 /* banner section */
 .section-banner-container{
	align-items: center;
	justify-content: center;
 }
 .banner-left{
	flex: 1;
	padding-right: 3rem;
	padding-top: 5rem;
 }
 .banner-left p{
	width: 80%;
	margin-bottom: 1rem;
 }
 .banner-heading{
	margin-bottom: 2rem;
	padding-left: 1rem;
	border-left: 5px solid rgb(248, 104, 88);
	line-height: 1;
	font-family: var(--ff-secondary);
 }
 .banner-heading-top{
	margin-bottom: 1rem;
 }
 .banner-heading-bottom{
	color: rgb(248, 104, 88);
 }
 .banner-right{
	flex: .85;
 }
 .img-profile{
	width: 85%;
 }
 /* end of banner section */
 
 /* My Mission Section */
 .section-mymission{
	min-height: auto;
 }
 .mymission-heading{
	 margin-bottom: 2.5rem;
	 text-align: center;
	 font-family: var(--ff-secondary);
 }
 .mymission-heading span{
	 color: rgb(248, 104, 88);
 }
 .mymission-card{
	 border-radius: 30px;
	 padding: 2rem;
 }
 .mymission-card img{
	 width: 50%;
	 margin-bottom: 1rem;
 }
 .mymission-card h3{
	margin-bottom: 1rem;
 }
 .mymission-card-1{
	 flex: 1;
	 margin-right: 1rem;
	 background-color: rgb(200, 241, 241);
 }
 .mymission-card-1 img{
	margin-bottom: 1.5rem;
 }
 .mymission-card-1 h2{
	margin-bottom: 1rem;
 }
 .mymission-card-2{
	flex: 1;
	margin: 0 1rem;
	background-color: rgb(241, 207, 203);
}
.mymission-card-3{
	flex: 1;
	margin-left: 1rem;
	background-color: rgb(243, 225, 209);
}
 /* End of My Mission Section */

 /* Section Limit */
 .section-limit{
	background-image: url("./images/shapes/shape-1.png");
  background-repeat: no-repeat;
	background-position: 5% 20%;
	background-size: 15%;
	margin-top: 5rem;
 }
 .limit-left{
	 flex: 0.6;
	 margin-right: 2.25rem;
 }
 .limit-right{
	 flex: 1;
	 margin-left: 2.25rem;
	 margin-top: 2.5rem;
 }
 .section-limit-heading{
	margin-bottom: 1rem;
}
 .limit-right p{
	margin-bottom: 1rem;
	line-height: 1.75;
 }
 /* End of Section Limit */

 /* Section Global */
 .section-global{
	background-image: url("./images/shapes/shape-1.png");
  background-repeat: no-repeat;
	background-position: 95% 100%;
	background-size: 15%;
	margin-top: 5rem;
 }
 .custom-height-global{
	 min-height: 70vh;
 }
 .global-left{
	flex: 1;
	margin-right: 2.75rem;
	margin-top: 2.5rem;
}
.global-right{
	flex: 0.625;
	margin-left: 2.75rem;
}
.global-left p{
	margin-bottom: 1rem;
	line-height: 1.75;
 }
 /* End of Section Global */
 /* footer section */
 .section-footer{
 }
 /* end of footer section */